</br>
<h2> Leave Details </h2>
</br>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">

     <tr>
       <th>Leave Id </th>
       <th>Leave Type</th>
       <th>Leave Date</th>
       <th>Employee</th>
       <th>Edit</th>
       <th>Delete</th>
       <th colspan="3"></th>
     </tr>
    </thead>

   <tbody>
     
       <tr>
        <% @leaves.each do |leave| %>
         <td><%= leave.id %></td>
         <td><%= leave.leave_type %></td>
         <td><%= leave.leave_date %></td>
         <td><%= leave.employee.name %></td>



         <td><%= link_to 'Edit', edit_leafe_path(leave) %></td>
         <td><%= link_to 'Destroy', leave, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
       <% end %>
   </tbody>
 </table>
</div>
<br>


<%= link_to 'Back', leaves_path %>

