<%= form_with(model: salary_head, local: true) do |form| %>
  <% if salary_head.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary_head.errors.count, "error") %> prohibited this salary head from being saved:</h2>

      <ul>
      <% salary_head.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :head_name %>
    <%= form.text_field :head_name, autofocus: true, class: "form-control", required: true %>
  </div>

   <div class="form-group">
    <%= form.label :earning %>
    <%= form.check_box :earning, autofocus: true, class: "form-control"%>
  </div>

   <div class="form-group">
    <%= form.label :deduction %>
    <%= form.check_box :deduction, autofocus: true, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.label :employee_id %>
    <%= form.select :employee_id, options_for_select(Employee.all.collect {|emp| [ emp.name, emp.id ] }, {:prompt => 'Select Person'}), {}, { class: "form form-group form-control" } %>
  </div>

   <div class="form-group">
    <%= form.submit "Submit", class: "btn btn btn-primary" %>
  </div>
<% end %>
